* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

 .navbar {
	position: relative;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
	height: 60px;
	width: 100%;
	padding: 0 10px;
	margin-right: 50px;
	display: flex;
	grid-template-columns: 2fr 10fr 0.4fr 1fr;
	align-items: center;
	z-index: 1;

}

 .logo h2{
	color: aqua;
}
 .search {
	position: relative;
	margin: auto;
	width: 40%;
	justify-self: center;
}

 .search input {
	width: 100%;
	height: 40px;
	padding: 0 40px;
	font-size: 16px;
	outline: none;
	border : outset;
	border-radius:10px;
}

 .search span {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
	
}

 .nav-right {

	background-color: #fff;
	text-align: center;

  }
  
 .nav-right ul {
	list-style-type: none;
	overflow: hidden;
	display: flex;
  }
  
 .nav-right li {
	float: left;
	margin-right: 30px;
	
}
  
 .nav-right li a {
	text-decoration: none;
	color: black;
	text-align: center;
	transition: color 0.2s ease;
  }
  
 .nav-right li a:hover {
	background-color: red;
  }

  .main-index {
		margin: 20px;
		padding: 20px;
		background-color: #ffffff; /* Warna latar belakang */
	}

	.main-p{
		color: white;
		border: 1px solid black;
		background-color: #333;
		text-decoration: none;
		border-radius: 5px;
		padding: 2px;
	}

  .main-p:hover {
	font-weight: bold;
	border: 2px solid aqua;
	
}
  .main-analytics {
	margin-bottom: 100px;
	padding: 20px;
	text-align: center;
  }

  .chart {
	max-width: 900px;
	height: 450px;
	padding: 50px;
	margin: 0 auto;
	.chart-type {
		text-align: center;
		margin-bottom: 30px;
		button{
			padding: 10px 25px;
		}
	}
  }

  aside {
	flex: 50%;
	background-color: #ddd;
	padding: 30px;
	position: absolute;
  }

  footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
  }

 