@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: url(img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	position: relative;
	color: #000;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
}

header .navigation a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 2px 15px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: all;
}

header .navigation a:not(:last-child) {
	margin-right: 30px;
}

header .navigation a:hover {
	background: #fff;
}

.content {
	max-width: 650px;
	margin: 60px 100px;
}

.content .info h2 {
	color: #226A80;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	margin-bottom: 30px;
}

.content .info p {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
}

.content .abt-btn {
	color: #fff;
	background: #226A80;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 10px 20px;
	border-radius: 5px;
	transition: 0.3s;
	transition-property: background;
}

.content .abt-btn:hover {
	background: #0C4F60;
}

/* IMAGE */
.img-wrapper {
	position: relative;
	margin-top: 10px;
	background-size: cover;
	overflow: auto;
	height: 650px;
	width: 570px;
	max-width: 100%;
	z-index: 1;
	opacity: 0;
	animation: image-appear 0.0001s linear forwards;
	animation-delay: 2.4s;
}

@keyframes image-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* BLOCKS */
.block {
	position: absolute;
	top: 10px;
	left: 0;
	width: 0%;
	height: 100%;
	background: #226A80;
	animation: block-appear 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation-delay: 1.5s;
}

.img-wrapper .block {
	animation-delay: 1.8s;
}

@keyframes block-appear {
	0% {
		left: 0;
		width: 0%;
	}
	50% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0%;
	}
}

.media-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.media-icons a {
	position: relative;
	color: black;
	font-size: 25px;
}

.media-icons a:not(:last-child) {
	margin-right: 60px;
}

.media-icons a:hover {
	transform: scale(1.2);
}

#check {
	display: none;
	z-index: 3;
}

/* Styling Analytics */
.filters {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	margin-bottom: 20px;
}

.sorts {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.filter-year,
.filter-borough {
	flex: 1;
	padding: 10px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 12px;
}

.filter-year label .filter-borough label {
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.propertyUnitChart {
	flex: 1;
}

#boroughs {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#boroughs label {
	display: flex;
	align-items: center;
	background: #e9e9e9;
	padding: 5px 10px;
	border-radius: 8px;
}

#boroughs input[type="checkbox"] {
	margin-right: 8px;
}

.chart {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.salePriceChart {
	position: relative;
	margin-top: 20px;
}

.stats {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.stat {
	background: white;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	flex: 1;
	text-align: center;
}

.stat h3 {
	margin-bottom: 10px;
	font-size: 12px;
}

.stat p {
	font-size: 18px;
	font-weight: bold;
}

/* CARD STYLING */
.slide-container {
	max-width: 1120px;
	width: 100%;
	padding: 40px 0;
}

.slide-content {
	margin: 0 40px;
	overflow: hidden;
	border-radius: 25px;
}

.card {
	border-radius: 25px;
	background-color: #FFF;
}

.image-content,
.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 14px;
}

.image-content {
	position: relative;
	row-gap: 5px;
	padding: 25px 0;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #4070F4;
	border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -40px;
	height: 40px;
	width: 40px;
	background-color: #4070F4;
}

.overlay::after {
	border-radius: 0 25px 0 0;
	background-color: #FFF;
}

.card-image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #FFF;
	padding: 3px;
}

.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid #4070F4;
}

.name {
	font-size: 18px;
	font-weight: 500;
	color: #333;
}

.description {
	font-size: 14px;
	color: #707070;
	text-align: center;
}

.swiper-navBtn {
	color: #6E93f7;
	transition: color 0.3s ease;
}

.swiper-navBtn:hover {
	color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
	font-size: 35px;
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev {
	left: 0;
}

.swiper-pagination-bullet {
	background-color: #6E93f7;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #4070F4;
}

.aside-home aside {
	background-color: #a9b6b6;
	border: 2px solid #116f86;
	padding: 10px;
	width: 300px;
	margin: 0 0 20px 2px;
	float: left;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
	font-family: Arial, sans-serif;
	border-radius: 10px;
}

.aside-home aside h2 {
	font-size: 16px;
	margin-top: 0;
	color: #116f86;
}

.aside-home aside ul {
	margin: 10px 0 0 0;
	padding-left: 10px;
}

.aside-home aside ul li {
	margin: 0 0 5px 0;
	list-style-type: circle;
}

.aside-home aside ul li a {
	text-decoration: none;
	color: #000;
}

.aside-home aside ul li a:hover {
	color: #116f86;
	text-decoration: underline;
}

.aside-home {
	margin-left: 10px;
}

.aside-home:after {
	content: "";
	display: table;
	clear: both;
}

.info .abt-btn {
	color: #ffffff;
	background: #7ad5ed;
}

.info .abt-btn:hover {
	color: #ffffff;
	background: #226A80;
}

/* Footer Styling */
footer {
	background-color: #333;
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	clear: both;
	flex-direction: column;
}

footer p {
	font-size: 0.9em;
}

footer nav ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
}

footer nav ul li a {
	color: white;
	text-decoration: none;
}

footer .media-icons a:hover {
	text-decoration: underline;
	color: #ccc;
}

/* Responsive Styles */
@media (max-width: 1200px) {
	header {
		padding: 20px 50px;
	}

	.content {
		margin: 40px 50px;
	}

	.img-wrapper {
		top: 150px; /* Sesuaikan posisi gambar pada tablet */
		right: 50px;
		width: calc(100% - 100px);
		height: auto;
	}
}

@media (max-width: 800px) {
	header {
		padding: 20px;
	}

	header .logo {
		font-size: 24px;
	}

	header .navigation {
		display: none;
	}

	#check:checked ~ header .navigation {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 1;
	}

	#check:checked ~ header .navigation a {
		margin: 10px 0;
	}

	label {
		display: block;
		font-size: 30px;
		cursor: pointer;
	}

	label .close-btn {
		display: none;
	}

	#check:checked ~ label .menu-btn {
		display: none;
	}

	#check:checked ~ label .close-btn {
		display: block;
	}

	.content {
		margin: 20px;
	}

	.content .info h2 {
		font-size: 36px;
		line-height: 40px;
	}

	.content .info p {
		font-size: 14px;
	}

	.img-wrapper {
		position: relative;
		top: 30px;
		left: auto;
		right: auto;
		width: 100%;
		height: auto;
		background-size: contain;
	}
}

@media (max-width: 480px) {
	header {
		padding: 10px;
	}

	header .logo {
		font-size: 18px;
	}

	.content {
		margin: 10px;
	}

	.content .info h2 {
		font-size: 28px;
		line-height: 32px;
	}

	.content .info p {
		font-size: 12px;
	}

	.content .abt-btn {
		padding: 8px 16px;
		font-size: 14px;
	}

	.img-wrapper {
		top: 20px;
		left: auto;
		right: auto;
		width: 100%;
		height: 100%;
		background-size: contain;
	}

	.filters,
	.stats {
		flex-direction: column;
		gap: 10px;
	}

	.filter-year,
	.filter-borough {
		font-size: 10px;
	}
}

@media (max-width: 500px) {
	.filters,
	.stats {
		flex-direction: column;
		gap: 10px;
	}

	.filter-year,
	.filter-borough {
		font-size: 10px;
		width: 100%;
		background-size: contain;
	}

	/* Add horizontal scroll for tables */
	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;
	}
}

@media (max-width: 768px) {
	/* Add horizontal scroll for tables */
	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;
	}
}

/* Ribbon untuk mode smartphone */
.ribbon {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #333;
	color: white;
	padding: 10px 0;
	text-align: center;
	z-index: 1000;
}

.ribbon a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin: 0 15px;
}

/* Menampilkan ribbon pada mode smartphone */
@media (max-width: 700px) {
	.ribbon {
		display: block;
	}
}

@media (max-width: 500px) {
	.ribbon {
		display: block;
	}
}
