* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.topbar {
	position: fixed;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
	height: 60px;
	width: 100%;
	padding: 0 20px;
	display: grid;
	grid-template-columns: 2fr 10fr 0.4fr 1fr;
	align-items: center;
	z-index: 1;

}

.logo h2{
	color: aqua;
}

.navbar {
	list-style-type: none; /* Menghilangkan bullet points */
	margin: 0; /* Menghilangkan margin default */
	padding: 0; /* Menghilangkan padding default */
	display: flex; /* Menggunakan Flexbox untuk tata letak horizontal */
  }
  
  .navbar li {
	margin-right: 20px; /* Menambahkan jarak antar item */
  }
  
  .navbar li a {
	text-decoration: none; /* Menghilangkan garis bawah pada link */
	color: black; /* Mengatur warna teks */
	transition: color 0.2s ease; /* add a transition effect */
	display: inline-block;
	
  }  
  
  
  
  nav a:hover {
	color: red; /* light gray text color on hover */
  }

  